

html {
    height: 100%;
    overflow-y: scroll;

}

body {
    background: #c1bdba;
  /*  background-image: url("bg.jpg");*/
    background-size: 100% 100%;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100%;


}

a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
       background-color: #1ab188;
   }

.nav-pills > li.active > a:hover {
    background-color: #1ab188;
  }

.form {
    background: rgba(2, 35, 47, 0.5);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 25px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.gameCanvas {

    display: block;
    margin: auto;
    align-content: center;
}


h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin-top: 10px;
}




input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}


.password-row:after {
    content: "";
    display: table;
    clear: both;
}

.password-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.password-row > div:last-child {
    margin: 0;
}

.status-row {
    float: left;
    width: auto;
    align-items: center;
    display: block;


}

.btn {

    background: #1ab188;
}

.btn:hover,

.btn:focus {
    background: #179b77;
}



.statusBar {
    width: 1280px;
    height: 60px;
    margin: 40px auto ;
    margin-bottom: 0px;
    vertical-align: middle;
    background-image: url("../res/assets/statusBar.png");



}

.btn-logout{
    margin-top: 15px;
    width: 35px;
    height: 35px;
    background-color: rgba(122, 130, 136, 0.2);

}

.row-list-item{
    align-content: center;
}



.status-time {
    align-items: center;
    vertical-align: middle;
    align-content: center;
    margin-top: 20px;
}


.weatherIcon{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}
.statusData{
  margin-top: 10px;

}
.statusCash{
  margin-top: 20px;
}
.container{
  margin-top: 40px;
  width: 450px;
}

canvas {    margin: auto;   }
#zip {     top: 50%;     left: 200px;     position: absolute;}
#container {     top: 5%;     left: 100px;     position: absolute;}
